<div class="footer">
  <ul class="link-list">
    <li>
      <%= link_to "https://github.com/nibab-boo" do %>
        <i class="fa-brands fa-github"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.linkedin.com/in/babinbohora/" do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
    </li>
  </ul>
</div>