<div class="footer">
  <ul class="link-list">
    <li>
      <%= link_to "https://github.com/nibab-boo" do %>
        <i class="fa-brands fa-github"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.linkedin.com/in/babinbohora/" do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "My CV", asset_path("first_cv.pdf") %>
    </li>
    <% if current_user&.admin %>
      <li><%= link_to "log out", destroy_user_session_path, class: "btn btn-sm btn-danger" ,method: :delete%></li>
    <% end %>
  </ul>
</div>