 <div class="nav-bar">
  <ul class="nav-list">
    <%= link_to root_path do  %>
      <li>whoami?</li>
    <% end %>
    <%= link_to journey_path do  %>
      <li>My Journey</li>
    <% end %>
    <%= link_to projects_path do  %>
      <li>Projects</li>
    <% end %>
    <%= link_to asset_path("Babin_Bohora.pdf"), class: "cv-button" do %>
      <li>My CV</li>
    <% end %>
  </ul>
</div>