 <div class="nav-bar">
  <ul class="nav-list">
    <%= link_to root_path do  %>
      <li>whoami!</li>
    <% end %>
    <%= link_to journey_path do  %>
      <li>My Journey</li>
    <% end %>
    <%= link_to projects_path do  %>
      <li>Case Studies</li>
    <% end %>
  </ul>
</div>