// Specific CSS for your home-page
.main-container {
  min-height: calc(100vh - 100px - 80px);
  background-color: $main-color;
}
.whoami {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0 0;
}

.whoami-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .whoami-intro {
    font-size: 2em;
    color: $ligher;
    width: 60vw;
    max-width: 400px;
    font-family: $headers-font;
    margin-bottom: 24px;
    .lightest {
      color: $lightest;
      filter: drop-shadow(0 0 0.85rem $ligher);
    }
  }

  .tools-i-use {
    h5 {
      color: $darker;
      // margin-left: 100px;
      text-align: center;
      font-weight: bold;
    }

    .lang-box {
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      display: flex;
      padding: 16px;
      justify-content: center;
      flex-wrap: wrap;
      .lang {
        min-width: 120px;
        height: auto;
        padding: 8px;
        margin: 8px;
        text-align: center;
        font-size: 1.8em;
        color: $ligher;
        background-color: adjust-color($color: #000B49, $lightness: .5%, $alpha: 1.0);
      }
    }
  }
}

@media only screen and (min-width: 800px) {
 .tools-i-use {
   margin-top: 36px;
 }  
}
@media only screen and (min-height: 800px) {
 .tools-i-use {
   margin-top: 8vh;
 }  
}