<div class="nav-bar">
  <ul class="nav-list">
    <li> <a href="#">whoami!</a> </li>
    <li> <a href="#">My Story</a> </li>
    <li> <a href="#">Case Studies</a> </li>
  </ul>
</div>

<div class="whoiam">
</div>

<div class="footer">
  <ul class="link-list">
    <li>
      <%= link_to "https://github.com/nibab-boo" do %>
        <i class="fa-brands fa-github"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.linkedin.com/in/babinbohora/" do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
    </li>
  </ul>
</div>


